body{
  margin:0;
  font-family:'Play', sans-serif;

}
.font {
  position: relative;
}
.marvel{
  position: relative;
}
.over{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #090909;
  background-image: linear-gradient(#090909, #FFFFFF);
}
.overlay{
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 height: 100%;
 width: 100%;
 opacity: 0;
 transition: .5s ease;
 background-color: #BF0101;
 background-image: linear-gradient(#BF0101, #FF8B8B);
 border-radius: 10% 10% 10% 10%;
}
.hover{
  color: #03CDFF;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.font:hover .overlay{
  opacity: 1;
}
.marvel:hover .over{
  opacity: 1;
}
.font{
  display: inline-block;
}
.resume a{
  color: black;
}
a{
text-decoration: none;
color:white;
font-size: 20px;
}
a:hover{
color:#BF0101;
}
.icons{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  padding: 10px 35px 0px 35px;
  margin: 300px 0px 300px 0px;
}
h5{
  font-size: 20px;
}
.spin{
    animation: spin 10s 1s linear;
}
.path{
  color: #BF0101;
  display: flex;
  justify-content: flex-end;
}
.link{
  color: #BF0101;
}
.first{
  border-radius: 60%;
  background-color:black;
  background-image: linear-gradient(black, lightgray);
  width: 80%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  margin-top: 300px;
  margin-bottom: 300px;
}
#quote{
  color: #BF0101;
  font-size: 50px;
  padding: 0px 40px 0px 40px;
  text-align: center;
  margin: 0px 30px 0px 30px;
}
.sec{
  width: 50%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  margin-top: 300px;
  margin-bottom: 300px;

}
#mine{
 width: 100%;
 max-height: 100%;
 border-radius: 50%;
 opacity: 0.8;
 margin: 0 auto;
}
#me {
padding-top: 100px;
font-size: 35px;
font-weight: bold;
align-items: center;
width: 50%;
height: 1000px;
margin: 0 auto;
opacity: 1;
text-align: center;
position: sticky;
top: 0;
margin-left: auto!important;
margin-right: auto!important;
color: white;
}
.all{
  background-image: url(aaron2);
  background-attachment: fixed;
  background-position: bottom center;
  position: relative;
  background-size: cover;
  height: 90%;
  opacity: 0.8;
}
#fo, #fo1, #fo2, #fo3, #fo4, #fo5, #fo6, #fo7, #fo8, #f09 {
  width: 100%;
  height: auto;
}
.about{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;

}
.marv{
  width: 50%;
  height: 50%;
}
#qte{
  color: #BF0101;
  font-size: 50px;
  padding: 0px 30px 0px 30px;
  text-align: center;
  margin: 0px 20px 0px 20px;
}
nav {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 99999;
}
.image{
  width: 250px;
padding-left: 300px;
padding-top: 125px;
animation: spin 10s infinite linear;
}
@keyframes spin {
    100% {
        transform:rotate(720deg);
    }
}


header{
  background-image:url(https://www.wallpaperup.com/uploads/wallpapers/2014/03/04/285140/da8133ddc8630650bbc1d74bd6cb3e9b-700.jpg);
  background-size: cover;
  height:800px;
  color: white;
  border-radius: 0% 0% 40% 0%;
}
header h1{
  font-size: 100px;
  padding-left: 30px;
}
header h2{
  font-size: 80px;
  padding-left: 30px;
}
#modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    height: 50%;
    width: 50%;
}
.follow{
  display: inline-block;
}
#email{
font-size: 30px;

}
.aaron {
    position: absolute;
    color: white;
    top: 50%;
    left: 60%;
    text-align: center;
    background-color: #BF0101;
    word-spacing: 5px;
    background-image: linear-gradient(#BF0101, #FF8B8B);
    width: 80%;
    padding: 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
}
#skill{
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
}
.projects{


}
footer{
  text-align: center;
  background-color: #BF0101;
  word-spacing: 5px;
  background-image: linear-gradient(#BF0101, #FF8B8B)
}
footer a:hover{
  color: black;
}
